/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.cpcache/
/.idea/
/classes/
/doc/
/resources/
/target/
/frosty
/pyjama
/pyjama.iml
.clj-kondo
/agents.edn
/.lsp/.cache/db.transit.json
/.calva/output-window/output.calva-repl
/.idea/
/docs/generated.md
secrets.edn
secrets.*.edn
secrets.*.edn.enc
alan.md
docs
/pyjamamazing
secrets.iml